<!DOCTYPE html>
<html>
<head>
    <title>登陆</title>
    <link href="/admin/assets/base.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div>
		<div></div>
		<form action="/admin/login" method="post">
			<input type="text" name="name" placeholder="用户名" />
			<input type="password" name="pass" />
			<input type="submit" />
		</form>
	</div>
</body>
</html>