<div class="sitefoot fn-clear">
    <div class="grid"> 
    	<span>Copyright © 2013</span> 
    	<a href="http://www.lading.me">Lading.me</a> 
    	<span> | </span>
    	<a href="https://github.com/pixding/lading" target="_blank">powered by lading</a>
    	<span> | </span>
    	<a href="http://www.lading.me/map">文章归档</a> 
    	<a class="fn-right" href="/admin/postList" target="_blank">admin login</a>
    </div>
</div>