<div class="sitefoot fn-clear">
    <div class="grid"> 
    	<span>Copyright © 2013</span> 
    	<a href="http://www.lading.me">Lading.me</a> 
    	<a class="fn-right" href="/admin/login" target="_blank">admin login</a>
    </div>
</div>