<div class="sitetop">
    <div class="grid">
        <h3 class="fn-left"><a href="http://www.lading.me">Lading</a></h3>
        <ul class="nav">
            <li <% if(siteNav == "index"){%> class="current" <%}%>  ><a href="/">Home</a></li>
            <li><a href="/trend">My trend</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/feed" target="_blank">RSS</a></li>
        </ul>
    </div>
</div>