<!DOCTYPE html>
<html>
<head>
    <title>lading.me</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/theme/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<% var siteNav = "index";%>
	<%- include module/nav.ejs -%>
    <div class="sitecon  fn-clear">
        <div class="grid">
            
			<p>Oh NO,没有找到这个页面，去首页看看别的吧！！！<a href="/">返回首页</a></p>
        </div>
        
    </div>
	<%- include module/foot.ejs -%>
</body>
</html>
